<div style="text-align: center;"><h1>Cart</h1></div>

 <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="text-center">Name</th>
          <th scope="col" class="text-center">Price</th>
          <th scope="col" class="text-center">Quantity</th>
          <th scope="col" class="text-center">Total</th>
          <th scope="col" class="text-center">Image</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
        <tr>
          <td class="text-center">{{this.productDetails.name}}</td>
          <td class="text-center" id="price{{this.productDetails._id}}">{{this.productDetails.price}}</td>
          <td class="text-center" ><button onclick="quantityChange(-1,'{{this.productDetails._id}}')" class="btn btn-danger">-</button> <span id="quantity{{this.productDetails._id}}">{{this.products.quantity}}</span> 
           <button   onclick="quantityChange(+1,'{{this.productDetails._id}}')" class="btn btn-danger">+</button></td>
          <td class="text-center" id="total{{this.productDetails._id}}">{{this.total}}</td>
          
            <td class="text-center"><img src="/images/{{this.productDetails._id}}.jpg" class="table-img" alt="Product" width="50px" height="50px"></td>
        <td class="text-center delete"><button class=" button" onclick="openPopup('{{this.productDetails._id}}')"  >
  <svg viewBox="0 0 448 512" class="svgIcon"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path></svg>
  
</button> </td>       
        
        </tr>
        {{/each}}
        <tr>
          <td class="text-center">Total amount: <span id="totalAmount"> {{amount}}</span></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          {{#if count}}
          <td class="text-center"><a href="/checkout" class="btn btn-success">Proceed to Checkout</a href="/checkout"></td>
        {{else}} <td class="text-center"><a href="/" class="btn btn-success">Add Product</a href="/checkout"></td>
        
        {{/if}}

        </tr>
      
        </tbody>
    </table>

  </div>

<title>Popup Window</title>
<style>
    body {
        font-family: Arial, sans-serif;
    }
    .popup-container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
        z-index: 999;
    }
    .popup-content {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        text-align: center;
    }
    .button-container {
        margin-top: 20px;
    }
    .button {
        margin: 0 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }
    .confirm {
        background-color: #4CAF50;
        color: #fff;
    }
    .cancel {
        background-color: #f44336;
        color: #fff;
    }
</style>


<div id="popup" class="popup-container">
    <div class="popup-content">
        <p> Do you want to remove this product from cart?</p>
        <div class="button-container">
            <p id="productId" hidden></p>
            <button class="button confirm" onclick="confirmAction(document.getElementById('productId').innerText)">Confirm</button>
            <button class="button cancel" onclick="closePopup()">Cancel</button>
        </div>
    </div>
</div>

<script>
function openPopup(productId) {
    console.log(productId)

    document.getElementById("popup").style.display = "flex";
    document.getElementById('productId').innerText=productId
}


function closePopup() {
    document.getElementById("popup").style.display = "none";
}

function confirmAction(proId) {
    // Your confirm action logic goes here
      $.ajax({
        url: "/remove-product", // Replace with your server-side script URL
        type: "POST",
        data:{
          productId:proId
        },
        dataType: "json", // Expect JSON response from server
         success: function(res) {
          window.location.reload(true);
         }
         });
}
</script>


</html>


  <script>
    function quantityChange(amount,proId){
        console.log(amount,proId)
        quantity=document.getElementById('quantity'+proId).innerText
        price=document.getElementById('price'+proId).innerText
        total=document.getElementById('total'+proId).innerText
        console.log(quantity,price,total)
    if(quantity>1 || amount==+1 ){
$.ajax({
      url: "/quantity-change", // Replace with your server-side script URL
      type: "POST",
      data:{
        productId:proId,
        amount
      },
      dataType: "json", // Expect JSON response from server
       success: function(res) {
        document.getElementById('count').innerText=res.count
        document.getElementById("totalAmount").innerText=res.amount
       quantity=parseInt(quantity)+amount
       total=quantity*parseFloat(price)
       document.getElementById('quantity'+proId).innerText=quantity
       document.getElementById('total'+proId).innerText=total
       
       
      }
    });
    }
    } 
    
  </script>
